body {
    background-color: pink;
    text-align: center;
}

.intrudoction{
    color: brown;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

body > h2{
    font-style: italic;
}

h3{
    display: inline;
    margin-right: 10px;
}

#travel{
    color: blue;
}

#dance{
    color: darkmagenta;
}

img {
    display: inline;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    border-radius: 50%;
    transition: width 2s, height 2s;
}

img:hover{
    width: 200px;
    height: 200px;
}

@media(min-width:319px) and (max-width:480px){
    body{
        background-color: pink;
    }
}

@media(min-width:481px) and (max-width:1200px){
    body{
        background-color: lightgoldenrodyellow;
    }
}